<template>
  <div id="app">    
    <menu-list></menu-list>
  </div>
</template>

<script>
import MenuList from './MenuList.vue';

var categories = [
  { title: 'Обувь',
    image: '1.jpg' },
  { title: 'Сумки',
    image: '1.jpg' },
  { title: 'Одежда',
    image: '1.jpg'  },
  { title: 'Украшения',
    image: '1.jpg'  },
  { title: 'Куклы',
    image: '1.jpg'  }
];

export default {
  name: 'app',
  components:{
      'menu-list': MenuList
  },
  data () {
    return {
      categories: categories
    }
  }
}
</script>

<style>
html {
    color: #CC6949;
    font: 14px 'Open Sans', sans-serif;
}
body {
    margin: 0;
    background: #f9f6ef;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
#app {
    max-width: 1200px;
    margin: 0 auto;
}
#app * {
    box-sizing: border-box;
}
</style>
