<template>
    <nav class="nav">
      <ul class="nav__list">
        <menu-item 
            v-for="menuItem in menuList"
            :key="menuItem.title"
            :item="menuItem"
            :class="{ nav__item_active: menuItem.isActive }">
        </menu-item>
      </ul>
    </nav>
</template>

<script>
    import MenuItem from './MenuItem.vue';
    var menuList = [ 
        { title: 'Главная', isActive: true },    
        { title: 'Об авторах' },
        { title: 'Контакты' },
        { title: 'Доставка' }
    ];
    export default {
        components:{
            'menu-item': MenuItem
        },
        data () {
            
            return {
                menuList: menuList
            }
        }
    }
</script>
<style>
.nav__list {
    padding: 10px 0 0;
    border-bottom: 1px solid #D49E8C;
}
</style>

