<template>
 <li class="nav__item"><a href="#" class="nav__link">{{ item.title }}</a></li>
</template>

<script>
export default {
    props: ['item']
}
</script>

<style>
.nav__item {
    display: inline-flex;
    padding: 10px 20px;
    cursor: pointer;
}
.nav__item:first-child {
    padding: 10px 20px 10px 0;
}
.nav__item:hover {
    color: #FF758C;
}
.nav__item_active {
    color: #FF758C;
}
</style>


